<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626269671729-geot5l76m9all2f34ulsepn7c2ia82a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626269671729-geot5l76m9all2f34ulsepn7c2ia82a3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626269671729-tf10364cjaa82mjtvj8umf70fdaa511u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTAa6INSkEBNeSOA7lLcDtsjki_B5thVE</string>
	<key>GCM_SENDER_ID</key>
	<string>626269671729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almadar.ios</string>
	<key>PROJECT_ID</key>
	<string>jawlatcom</string>
	<key>STORAGE_BUCKET</key>
	<string>jawlatcom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626269671729:ios:d8cbe6b97057aac8</string>
	<key>DATABASE_URL</key>
	<string>https://jawlatcom.firebaseio.com</string>
</dict>
</plist>